* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  border: 10px solid black;
  border-radius: 10px;
  width: 100%;
  height: 100vh;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
}
input,
button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: 5px;
  background-color: transparent;
  color: white;
  box-shadow: 5px 5px 5px black;
}
.input {
  display: flex;
}
input {
  flex: 1;
  border: 1.5px solid white;
  text-align: right;
  font-size: 20px;
  padding: 15px;
  letter-spacing: 1px;
}
.equal {
  width: 115px;
}
button:hover {
  box-shadow: 1px 1px 5px white;
}
